{
  "presets": [
    "react",
    [ "env", {
      "targets": {
        "browsers": "> 2%"
      }
    }]
  ],

  "plugins": [
    "react-hot-loader/babel",
    "transform-react-pug",
    "transform-react-jsx"    
  ]
}