body{
	background-color: rgb(252, 248, 241);
}

div.header{
	margin: 30px 0 20px;
}

div.header h1 {
	font-weight: 900;
	color: rgb(78, 53, 10);
	display:inline-block;
	vertical-align: top;
	margin-right: 30px;
}

ul.home-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

ul.home-list li{
	position: relative;
	margin: 0 20px 25px 0;
	padding: 15px 15px 45px;
	cursor: pointer;
	text-align: center;
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.07);
	border-radius: 5px;
	background-color: white;
}
ul.home-list li:hover{
	box-shadow: 7px 4px 5px 3px rgba(0,0,0,0.07);
}

ul.home-list li .cake-name{
	display: block;
	margin-top: 5px;
	font-weight: bold;
	position: absolute;
	bottom: 10px;
}

ul.home-list img{
	width: 100%;
	max-width: 300px;
}

div.view-content img{
	max-width: 100%;
}

div.notification{
	position: relative;
	margin: 0 auto;
	background-color: lightgreen;
	padding: 10px;
	max-width: 300px;
	border-radius: 5px;
}

div.notification span{
	position: absolute;
	right: 10px;
	top: 0;
	font-weight: bold;
	cursor: pointer;
	color: darkgreen;
}

.form-error{
	color: rgb(67, 206, 55);
}
